.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: xx-large;
  padding: 0px 5px;
}

.number-pad {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.text-box {
  grid-column: span 3;
  background: white;
  height: 40px;
}

.number-key {
  display: flex;
  align-items: center;
  user-select: none;
}

.number-key:active {
  background: #508987;
}
